@using MySociety.Entity.ViewModels
@model ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LoginLayout";
}

<form asp-controller="Auth" asp-action="ForgotPassword">
    <div class="mb-4">
        <div class="input-group">
            <input asp-for="Email" type="email" class="form-control login-input p-2" placeholder="Email*" required>
            <span class="input-group-text">
                <img src="/images/icons/envelope.svg" width="20px">
            </span>
        </div>
        <span class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-custom w-100">Forgot Password</button>
    </div>

    <div>
        <a asp-action="Login" asp-controller="Auth">Back to login</a>
    </div>
</form>