@using MySociety.Entity.ViewModels
@model ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}

<form asp-controller="Auth" asp-action="ResetPassword" class="">
    <!-- Email -->
    <input asp-for="Token" type="hidden">

    <div class="mb-3">
        <div class="input-group">
            <input asp-for="NewPassword" type="password" class="form-control login-input p-2"
                placeholder="New Password*" required>
            <span class="input-group-text">
                <i class="eye-icon fa fa-eye-slash cursor-pointer"
                    onclick="togglePassword('newPasswordAuth', this)"></i>
            </span>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control login-input p-2"
                placeholder="Confirm New Password*" required>
            <span class="input-group-text">
                <i class="eye-icon fa fa-eye-slash cursor-pointer"
                    onclick="togglePassword('confirmPasswordAuth', this)"></i>
            </span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <div class="">
        <button type="submit" class="btn btn-custom w-100 mb-3">Submit</button>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <a asp-controller="Auth" asp-action="Login">Back to login</a>
    </div>
</form>