@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="blue-text text-nowrap">Approval List</h1>
    </div>
    <div>
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" name="search" id="searchQuery"
                oninput="paginationAjax(1)">
            <button type="submit" class="input-group-text">
                <img src="~/images/icons/search.svg" alt="">
            </button>
        </div>
    </div>
</div>
<!-- Table -->
<div class="bg-custom px-3" id="tableContent">
    <!-- Partial View -->
</div>

@section Scripts {
    <script src="~/js/adminPanel.js"></script>
}
