@using MySociety.Entity.Models
@using MySociety.Entity.ViewModels
@model VisitorIndexVM

@{
    ViewData["Title"] = "Visitors";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mt-3">
    <div>
        <h1 class="blue-text text-nowrap">Visitors List</h1>
    </div>
    <div class="d-flex align-items-center gap-3">


        @if (User.IsInRole("Security"))
        {
            <div>
                <a asp-action="Get" asp-controller="Visitor" class="btn btn-custom text-nowrap">+ New Visitor</a>
            </div>
        }
    </div>
</div>

<div class=" d-flex align-items-center gap-3 div-filter row">

    @* <div class="row"> *@
        <div class="input-group col">
            <input type="search" class="form-control" placeholder="Search" name="search" id="searchQuery"
                class="w-250px" oninput="paginationAjax(1)">
            <button type="submit" class="input-group-text">
                <img src="~/images/icons/search.svg" alt="">
            </button>
        </div>

        <div class="col">
            <select class="form-select" id="approvalStatus" aria-label="Select Approval status"
                onchange="paginationAjax(1)">
                <option selected value="Pending">Pending</option>
                <option value="All">All</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Expired">Expired</option>
            </select>
        </div>

        <div class="col">
            <select class="form-select" id="dateRange" aria-label="Select Date Range" onchange="paginationAjax(1)">
                <option selected value="All">All Time</option>
                <option value="Today">Today</option>
                <option value="Last7Days">Last 7 Days</option>
                <option value="Last30Days">Last 30 Days</option>
                <option value="CurrentMonth">Current Month</option>
                <option value="CustomDate">Custom Date</option>
            </select>
        </div>

        <div class="col">
            <select class="form-select" id="checkOutStatus" aria-label="Select Check Out Status"
                onchange="paginationAjax(1)">
                <option selected value="All">All Visitors</option>
                <option value="Current">Current Visitor</option>
                <option value="Checked Out">Checked Out Visitor</option>
            </select>
        </div>

        <div class="col">
            <select class="form-select" id="visitPurpose" aria-label="Visit Purpose" onchange="paginationAjax(1)">
                <option selected value="All">All Purpose</option>
                @foreach (VisitPurpose purpose in Model.VisitPurposes)
                {
                    <option value="@purpose.Id">@purpose.Name</option>
                }
            </select>
        </div>

        <div class="">
            <button class="btn btn-custom-secondary px-3" onclick="resetFilters()">Reset</button>
        </div>
    @* </div> *@



</div>

<!-- Table -->
<div class="bg-custom px-3 mt-3" id="tableContent">
    <!-- Partial View -->
</div>

<!-- Customer Review Modal -->
<div class="modal" tabindex="-1" id="visitorReviewModal" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title text-clr-grey fw-bolder">Visitor Check Out Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <div class="text-success">
                    Thank you <span id="nameVisitorModal"></span> for visiting our society!
                </div>
                <div class="mb-1 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="fw-semibold text-clr-grey">Rating</span>
                        <div class="d-flex gap-2">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class="star star-rating fa fa-star-o text-warning" data-number=@i></i>
                            }
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="visitorReview" rows="3" placeholder="Comment"></textarea>
                </div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button class="btn btn-custom btn-success text-nowrap px-2" id="confirmCheckOut"
                    onclick='checkOut()'>Check
                    Out</button>
                <button type="button" class="btn btn-custom-secondary" onclick="clearReview()">Clear</button>
            </div>
        </div>
    </div>
</div>
<!-- Customer Review Modal end-->

<!-- Modal Custom date Range starts -->
<div class="modal fade" id="customDateRange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Select Date Range</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                id="customDateClose"></button>
        </div>

        <div class="modal-body">
            <div class="row mx-0 gap-2">
                <div class="form-floating col p-0">
                    <input type="date" class="form-control" id="fromDate" placeholder="">
                    <label for="fromDate">From Date</label>
                </div>

                <div class="form-floating col p-0">
                    <input type="date" class="form-control" id="toDate" placeholder="">
                    <label for="toDate">To Date</label>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-custom" id="customDateSubmit">Submit</button>
            <button type="button" class="btn btn-custom-secondary" data-bs-dismiss="modal"
                id="customDateCancel">Cancel</button>
        </div>

    </div>
</div>
</div>
<!-- Modal Custom date Range ends -->

@section Scripts {
    <script src="~/js/visitor.js"></script>
}
