/* @import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

body {
  margin-bottom: 60px;
  font-family: "Ancizar Sans", sans-serif !important;
  background-image: linear-gradient(to top, #fff1eb 0%, #bbe5f8 100%);
  min-height: 100vh;
  color: #333;
  font-size: 18px !important;
}

.bg-custom{
  background-color: rgba(255, 255, 255, 0.6);
}

.login-card{
    background-color: rgba(255, 255, 255, 0.6) !important; 
    padding: 2rem;
    border-radius: 20px !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    max-width: 960px;
    margin: auto;
    color: #333;
}

.btn-custom{
    color: white !important;
    background-color: #3a6073   !important;
    border: 1px solid #3a6073  ;
} */
