@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");

html {
  font-size: 18px !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Ancizar Sans", sans-serif !important;
  background-image: linear-gradient(to top, #fff1eb 0%, #d4edf8 100%);
  min-height: 100vh;
  color: #333;
  font-size: 18px !important;
}

a{
  text-decoration: none !important;
}

.bg-custom-gradient {
  background-image: linear-gradient(to top, #fff1eb 0%, #bbe5f8 100%);
}

.bg-custom {
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: aliceblue; */
}

.bg-custom-secondary {
  color: white !important;
  background-color: #3a6073 !important;
}

.btn-custom {
  color: white !important;
  background-color: #3a6073 !important;
  border: 1px solid #3a6073;
}

.btn-custom-secondary {
  color: #3a6073 !important;
  border: 1px solid #3a6073 !important;
}

.bg-light-coral,
.btn-reject,
.btn-checkOut,
.btn-delete {
  background-color: lightcoral !important;
}

.bg-light-green,
.btn-approve {
  background-color: lightgreen !important;
}

.bg-light-blue,
.btn-edit {
  background-color: lightblue !important;
}

.btn-view {
  background-color: lightsteelblue !important;
  color: black !important;
  border: none;
}

.text-custom {
  color: #3a6073 !important;
}

/* Modal */
.modal-header {
  border-bottom-width: 0px;
}

.modal-body {
  padding-top: 4px;
  padding-bottom: 4px;
}

.modal-footer {
  border-top-width: 0px;
}

.modal-footer button,
.modal-footer a {
  width: 90px;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.6) !important;
  padding: 2rem;
  border-radius: 20px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  max-width: 960px;
  margin: auto;
  color: #333;
}

.profile-img {
  /* position: relative;
  top: -25px;
  left: 10px; */
  height: 100px;
  width: 110px;
}

.camera-img {
  padding: 5px;
  width: 30px;
}

.camera-div {
  height: fit-content;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative;
  top: 65px;
  left: -30px;
}

.form-floating > label {
  z-index: 5 !important;
}

#formMyProfile .form-floating > label {
  top: -5px !important;
  left: 12px !important;
  /* left: unset; */
}

.changePassword-form input {
  min-width: 220px;
  max-width: 420px;
}

.change-content {
  padding: 10px 10%;
}

@media (max-width: 450px) {
  .change-content {
    padding: 10px 0%;
  }
}

.approval-table td {
  background-color: #fbfbfb99 !important;
}

.approval-table th {
  background-color: #fbfbfb99 !important;
}

table {
  vertical-align: middle;
  overflow-x: auto;
  white-space: nowrap;
}

table td {
  font-weight: 500;
}

table td,
th {
  color: #686868 !important;
  white-space: nowrap;
}

.below-navbar {
  padding-top: 73px;
}

.sidebar {
  width: 280px !important;
}

.main-content {
  width: calc(100% - 280px) !important;
}

.sidebar > div {
  position: fixed;
  width: inherit;
}

.sidebar a {
  font-size: 20px;
  padding: 12px;
  color: black;
  /* font-weight: 500; */
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.side-dash {
  border: 1px solid #3a6073;
  color: #3a6073 !important;
  background-color: white;
  font-weight: 700 !important;
}

@media (max-width: 1000px) {
  #sidebar {
    z-index: 100;
    display: none;
    position: fixed;
    height: 100%;
  }
}

.filter-custom {
  filter: brightness(0) saturate(100%) invert(33%) sepia(21%) saturate(817%)
    hue-rotate(155deg) brightness(97%) contrast(93%);
}

.nav-custom {
  z-index: 10;
}

.w-250px {
  width: 250px;
}

.div-filter .form-floating > label {
  top: -5px;
}

.nav-pills .nav-link.active {
  color: #3a6073 !important;
  background-color: white !important;
  border: 1px solid #3a6073;
  border-bottom: 2px solid #3a6073;
  font-weight: 700;
}

.nav-link {
  color: grey !important;
}

/* Style for Pills */
.nav-pills .nav-link {
  border-radius: 50px;
  padding: 0.4rem 1rem;
  /* background-color: #e9ecef; Light grey background for inactive tabs */
  color: #333;
  /* border: 1px solid #ccc; */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* Hover Effect */
.nav-pills .nav-link:hover {
  background-color: #d6d8db;
  color: #000;
}

/* Optional: Icon spacing */
.nav-pills .nav-link i {
  font-size: 1rem;
}

/* Optional: Tab Text Styling */
.tab-text {
  font-size: 0.95rem;
}

#notificationCount {
  top: 20px;
  left: 44px;
}

